body
  .container
    .navbar
      .navbar-inner
        a.brand(href="#") {{{title}}}
        ul.nav
          li
            a(href="/") home
          li
            a(href="/collections") collection demo
          li
            a(href="/info") more info

    main#pages(role="page-container")
