language: node_js
node_js:
- '0.10'
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/df4440290bd89d941fb4
    on_success: change
    on_failure: always
    on_start: false
script: npm test
deploy:
  provider: npm
  email: fyockm@gmail.com
  api_key:
    secure: mI5moQeqyfAoL+ox11DEKFssZPWHx2o7eQ42x1P/LROntxtYf2uXgIyLD4tRdK210kvnigLR3bielQEZeMyDpYAIAXg20mSb5HecB3rqPlEweqjRfgc+QkjaYoJ5Sf09bVtwj+LMZBFR/PNEwJjF8i5UNbasAIxLaJPzpq9Ufag=
  on:
    tags: true
    repo: AmpersandJS/ampersand
