li.person.list-group-item
  img(role="avatar", width="40", height="40")
  a(role="name")
  span.btn-group.pull-right 
    a.btn.btn-default(role="action-edit") edit 
    a.btn.btn-danger(href="#", role="action-delete") delete
