// colors

$header = #404040
$bodybg = #202020

$red = #c80000
$text = #333
$subtext = #777

$pink = #EB008B
$ltgray = #EBECEC
$dkgray = #202020
$blue = #00aeef
$dkblue = #006991


// font sizes

$fontLG = 20px
$fontMD = 16px
$fontSM = 13px


// dimensions

$base = 10px
$seven = 7  * $base
$five = 5  * $base
$three = 3  * $base
$page = 38 * $base
