.container
    .navbar
      .navbar-inner
        a.brand(href="#") human.js - sample
        ul.nav
          li
            a(href="/") home
          li
            a(href="/one") page one
          li
            a(href="/two") page two

    section#pages
