// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background: white

.person
  border-bottom : 1px solid #ddd

.action-btns
  position : relative
  top      : 5px
  float	   : right
