section.page.pageOne
  h2 Collection demo

  p Intelligently rendering collections can be a bit tricky. 

  p <a href="https://github.com/ampersandjs/ampersand-view">ampersand-view's</a> <code>renderCollection()</code> method makes it simple.

  p The only code required to manage the collection is:

  pre
    code
        | this.renderCollection(
        |    this.collection, 
        |    PersonView, 
        |    this.getByRole('people-list')
        | );

  h3 People container:
  ul.list-group(role="people-list")

  p Try it by clicking the buttons

  .buttons.btn-group
    button.btn.btn-default(role="reset") .reset() 
    button.btn.btn-default(role="fetch") .fetch() 
    button.btn.btn-default(role="shuffle") .shuffle() 
    a.btn.btn-default(href="/person/add") Add Person

  p Events are always managed so you don't get any leaks.
