section.page.edit-person
  
  h2 Edit Person

  p This form and all behavior is defined by the form view in <code>client/forms/person.js</code>.

  p The same form-view is used for both editing and creating new users.

  form(role="person-form")
    fieldset(role="field-container")
    .buttons
      button.btn(role="reset", type="submit") Submit
