!!!5
html
  head
    title 404 — Sandwich not found | And Bang
    script(type="text/javascript", src="//use.typekit.net/pmy3une.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}    
    link(rel="stylesheet", href="/css/brokt.css")
  body
    section#fourohfour
      a(href="/")
        .logoribbon
      h1 404 — Sandwich found
      div.art
        img(src="/images/sandwich.png")
      h2 We couldn't find this page, 
        br 
        | but we found a sandwich. 
        br 
        | (Hope that helps!)
      p This page isn't here, which is either embarassing or awkward. 
        em But it doesn't have to be this way!
      p Just think: We could have sandwiches instead of 404s. Imagine how different the world could be.
      p (Pro tip: pepperoni.)
      p <3, 
      p &yet
      br 
      p 
        strong P.S. 
        | Wherever you go... whatever you do...
        br
        | we will be  
        a(href="mailto:support@andbang.com") right here
        |  waiting for you.