!!!5
html
  head
    - if (locals.pageTitle)
      title!= 'And Bang | ' + pageTitle
    - else
      title &amp;!
    - if (locals.pageTitle = 'home')
      link(rel="stylesheet", href="/css/public.css")
      script(type="text/javascript", src="//use.typekit.net/pmy3une.js")
      script(type="text/javascript")
        try{Typekit.load();}catch(e){}
      script(type="text/javascript", src="/jslibs/jquery-1.7.1.js")
      script(type="text/javascript", src="/js/happy.js")
      script(type="text/javascript", src="/js/contact.js")
    - else
      link(rel="stylesheet", href="/css/andbang.css")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37857663-1']);
      _gaq.push(['_setDomainName', 'andbang.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(id= (locals.bodyId || locals.pageName))
    block body
