section.page.pageTwo
  h2 More Info

  p This is a demo app by <a href="http://twitter.com">Henrik Joreteg</a>.

  h4 Relevant links:

  ul
    li 
      a(href="http://humanjavascript.com") human javascript
      |  the book

    li 
      a(href="https://github.com/HenrikJoreteg/humanjs-sample-app") github repo 
      |  for this app

    li 
      a(href="http://andyet.com") &yet
      |  the company behind this effort

  h4 Apps Built this way

  ul
    li 
      a(href="http://andbang.com") And Bang
      |  Team same-pagification tool. Realtime chat + task management

    li 
      a(href="http://talky.io") Talky 
      |  Free, zero-setup, no-account, peer-to-peer encrypted video calls

