extends ../layout

block body
  a(name="top")
  .headwrap
    header
      include ../includes/nav

  .content
    div
      section
        article

          h2 Keyboard shortcuts
            span (enlarged to show some texture)

          h3 Global key shortcuts:

          table

            tr
              td
                code `
                span and
                code 1-9
              td Use the top row of your keyboard to jump between pages.

            tr
              td
                code n
              td focus on the main input for that page. Think "n" for "new".

            tr
              td
                code esc
                span or
                code tab
              td blur the main input of that page (if you're focused on it). So you can use keyboard shortcuts without inputting data.

            tr
              td
                code ?
              td show this help window (based on the context of the page you're on).

          h3 Task list pages

          table
            tr
              td
                code ⌘ <span>+</span> enter
                span or
                code ctrl <span>+</span> enter
              td Create and immediately ship a task.

            tr
              td
                code ↑ <span>or</span> k
                span and
                code ↓ <span>or</span> j
              td Move up and down through tasks.

            tr
              td
                code [
                span and
                code ]
              td Flip through sub-pages like "now", "later", "shipped" and "chat"

          h3 Stuff you can do with task that's selected

          table
            tr
              td
                code !
              td ships the task

            tr
              td
                code del
                span or
                code backspace
              td Deletes the task

            tr
              td
                code p
              td "Later" and "unlater" tasks. Think "procrastinate" and "prioritize" to remember. :)

            tr
              td
                code enter
              td Shows task details

          h3 Task detail page

          table
            tr
              td
                code esc
              td takes you back "up" one level to the list the task is in

      a(name="mytasks")
      section
        a.top(href="#top") top
        article

          h2 Tasks

          h3 Add a task
          p Adding a task is easy! In your task list, click inside the "Create a new task" box, type it up, and hit enter!

          h3 Assign a task
          p In the "Create a new task" box, just type @user at the beginning, replacing "user" with the username of the person you're assigning it to.

          h3 Add notes to a task
          p We know tasks need more detail sometimes, you can add notes to any task by double clicking the task.

          h3 Later a task
          p Depending on the width of your view, you can delay a task for later by clicking the later button at the right, next to the rocket, or use the later button in the task's details view.

          h3 Ship a task
          p You're ready to ship, that's awesome! Click the rocket at the right of your task... and make a rocket noise!

          h3 Unship a task
          p Not quite ready to call that task complete? Go to your Shipped list, click the downward-facing rocket to the left of the task to unship it.

      a(name="chat")
      section
        a.top(href="#top") top
        article

          h2 Chat

          h3 Chat with team
          p To chat with the group, just type in the box at the bottom and hit Enter to send it.

          h3 Direct Chat
          p You can easily chat one-on-one with any of your teammates. Click on their avatar in the team chat roster, then click on the chat bubble at the top of the screen.

      a(name="notifications")
      section
        a.top(href="#top") top
        article

          h2 Notifications
          p Click your team's logo to see notifications you've received.

      a(name="emoji")
      section
        a.top(href="#top") top
        article

          h2 Emoji
          p We've added emoji support to chat! We piggy back on the <a href="http://www.emoji-cheat-sheet.com/">Emoji Cheat Sheet</a>, so check there for the full list.

      a(name="help")
      section
        a.top(href="#top") top
        article

          h2 Help and Feedback

          h3 Help
          p Just type a "?" and the help page will pop up. (Psst! If you're reading this you're on the help page.)

          h3 Send feedback
          p Need to get in touch with us? Click the bullhorn at the bottom left of the app. We're looking forward to hearing from you!

      aside
        include ../includes/help-nav