!!!5
html
  head
    title 500 — Bit of a mess | And Bang
    script(type="text/javascript", src="//use.typekit.net/pmy3une.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}    
    link(rel="stylesheet", href="/css/brokt.css")
  body
    section#fourohfour
      a(href="/")
        .logoribbon
      h1 500 — Bit of a mess
      div.art
        img(src="/images/octaguns.png")
      h2 'member when you loaned your octopus your collection of vintage six-shooters? This might be a bit like that.
      p You could try to refresh or just go 
        a(href="/") back home
        | .
      p But, hey, we're only humans and cephalopods, right? Pretty sure we'll figure out what went wrong.
      p And um if this doesn't work out, let's go grab some calamari and Grape Nuts.
      p <3, 
      p &yet
      br 
      p 
        strong P.S. 
        | Wherever you go... whatever you do...
        br
        | we will be  
        a(href="mailto:support@andbang.com") right here
        |  waiting for you.